* {
    margin: 0;
    padding: 0;
}

html {
    background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    height: 100%;
}

.main {
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
    /*margin: 15em auto;*/
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -200px;
    position: absolute;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.main-register {
    height: 600px;
    margin: -300px 0 0 -200px;
}

.sign {
    padding-top: 40px;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.txtBox {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

form.form1 {
    padding-top: 40px;
}

.txtBox:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.register {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    padding-top: 15px;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    text-decoration: underline;
}

.main-container {
    height: 90%;
    width: 90%;
    background-color: #f2f5fa;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    padding: 20px;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.middle.right-middle {
    /*border-bottom-right-radius: 1.5em;
    height: 100%;
    height: calc(100% - 60px);
    width: 100%;*/
    /*background-color: yellow;*/
    background-color: white;
    overflow-y: auto;
}

.bottom.left-bottom {
    border-radius: 1.5em;
    margin-right: 20px;
    margin-top: 10px;
    overflow-y: auto;
    /*background-color: goldenrod;*/
}

.middle.right-middle .bg-image {
    width: 58%;
    height: auto;
    background-image: url('../view/images/chat_main_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    display: none;
    /*vertical-align: middle;*/
}

.bottom.right-bottom {
    background-color: white;
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    padding: 10px;
}

.top.right-top {
    border-top-right-radius: 1.5em;
    background-color: white;
    border-top-left-radius: 1.5em;
}

.top.left-top {
    /*border: solid #7367F0;*/
    border-radius: 1.5em;
    margin-right: 20px;
    background-color: white;
    line-height: 100px;
    cursor: pointer;
}

.middle.left-middle {
    margin-right: 20px;
    border-radius: 1.5em;
    margin-top: 10px;
}

.main-container.grid-container{
    display: grid;
    /*grid-template-columns: 30% 70%;
    grid-template-rows: auto;*/
    grid-template-areas:
    'left-top left-top right-top right-top right-top right-top'
    'left-middle left-middle right-middle right-middle right-middle right-middle'
    'left-bottom left-bottom right-middle right-middle right-middle right-middle'
    'left-bottom left-bottom right-bottom right-bottom right-bottom right-bottom';
    grid-template-rows: 100px auto auto 80px;
    grid-template-columns: minmax(auto, 15%) minmax(auto, 17.5%) minmax(auto, 17.5%) minmax(auto, 17.5%) minmax(auto, 17.5%) minmax(auto, 17.5%);
    grid-gap: 0;
}

.top.left-top.grid-item {
    grid-area: left-top;
}
.middle.left-middle.grid-item{
    grid-area: left-middle;
}
.bottom.left-bottom.grid-item {
    grid-area: left-bottom;
}
.top.right-top.grid-item {
    grid-area: right-top;
}
.middle.right-middle.grid-item {
    grid-area: right-middle;
}
.bottom.right-bottom.grid-item {
    grid-area: right-bottom;
}

.my-avatar {
    height: 60px;
    width: 60px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 50%;
}

.item-name {
    margin-left: 20px;
    margin-right: 20px;
}

.item-name.my-name {
    font-weight: bold;
    font-size: 20px;
}

#search-input {
    width: 100%;
    margin: 0;
    /*height: 50px;
    width: 100%;
    border-radius: 20px;
    background-color: white;*/
}

.chat-user {
    width: 100%;
    height: 80px;
    line-height: 80px;
    border-bottom: solid white 2px;
    cursor: pointer;
    position: relative;
}

.chat-user:last-child {
    border-bottom: none;
}

.chat-user:hover {
    background-color: white;
}

.new-msg-red {
    background-color: red;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 17px;
    left: 58px;
    position: absolute;
}

.user-avatar {
    height: 50px;
    width: 50px;
    margin-top: 15px;
    margin-left: 20px;
    float: left;
    border-radius: 50%;
}

.item-name {
    font-size: 17px;
}

#msg-input {
    width: calc(100% - 50px);
    height: 60px;
    margin: 0;
    text-align: left;
    resize: none;
    float: left;
    font-weight: normal;
}

.send-msg-btn {
    background: none;
    background-image: url("../view/images/send_icon.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 45px;
    width: 45px;
    border: none;
    cursor: pointer;
    outline: none;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

.send-msg-btn:hover {
    background-image: url("../view/images/send_icon_hover.png");
}

.top.right-top {
    line-height: 100px;
    /*box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);*/
}

.user-avatar.right-top {
    margin-top: 25px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
    clear: both;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 2px;
    max-width: 50%;
    min-width: 120px;
}

.him {
    background: #eee;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.me {
    float: right;
    background: #0084ff;
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
}

.him + .me {
    border-bottom-right-radius: 5px;
    margin-top: 10px;
}

.me + .me {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.me:last-of-type {
    border-bottom-right-radius: 30px;
}

.me:first-of-type {
    border-bottom-right-radius: 5px;
    margin-top: 10px;
}

.me + .him {
    border-bottom-left-radius: 5px;
    margin-top: 10px;
}

.him + .him {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.him:last-of-type {
    border-bottom-left-radius: 30px;
}

.him:first-of-type {
    border-bottom-left-radius: 5px;
    margin-top: 10px;
}

.him .status-img {
    display: none;
}

.him .datetime-span {
    float: left;
}

.me .status-img {
    float: left;
}

.me .datetime-span {
    float: right;
}

.msg-menu-selector {
    height: 20px;
    width: 20px;
    display: none;
    cursor: pointer;
}

li>p {
    margin-top: 5px;
}

.msg-br {
    display: none;
}

.status-img {
    height: auto;
    width: 20px;
    float: right;
}

.datetime-span {
    float: left;
    font-size: 13.5px;
}

.block-contact {
    background-image: linear-gradient(to right, #EB3349 0%, #F45C43  51%, #EB3349  100%);
    margin: 28px;
    height: 30px;
    /*width: 50px;*/
    padding: 7px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 5em;
    display: block;
    float: right;
    line-height: 30px;
    text-decoration: none;
    cursor: pointer;
}

.block-contact:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.active {
    visibility: visible;
    opacity: 1;
}

.close-edit-profile {
    cursor: pointer;
}

.close-edit-profile:hover {
    text-decoration: underline;
}
.context-menu-container {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
}

.context-menu {
    position: absolute;
    width: 100px;
    height: auto;
    box-shadow: 0 0 20px 0 #ccc;
    border-radius: 20px;
    background: #f6f6f6;
    overflow: hidden;
    display: none;
    opacity: 1;
}

.context-menu ul {
    text-align: center;
    margin: 0;
}

.context-menu ul li {
    /*border-left: 4px solid transparent;*/
    cursor: pointer;
    width: 100%;
    border-radius: 0;
    min-width: 0;
}

.context-menu ul li:hover {
    background: #eee;
    /*border-left: 4px solid #666;*/
    cursor: pointer;
}


@media (max-width: 600px) {
    .block-contact{
        margin: 0 !important;
    }
}