<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Chat</title>
</head>
<body>
    <div class="main-container grid-container">
        <div class="top left-top grid-item">
            <img src="images/user_logo.png" class="my-avatar">
            <span class="item-name my-name">Misagh Soltani</span>
        </div>
        <div class="middle left-middle grid-item">
            <input type="search" id="search-input" class="txtBox" placeholder="Search in users">
        </div>
        <div class="bottom left-bottom grid-item">
            <div class="chat-user">
                <img src="images/user_logo.png" class="user-avatar">
                <span class="item-name">Erfan MoharramKhani</span>
            </div>
            <div class="chat-user">
                <img src="images/user_logo.png" class="user-avatar">
                <span class="item-name">Javad Asqari</span>
            </div>
            <div class="chat-user">
                <img src="images/user_logo.png" class="user-avatar">
                <span class="item-name">Javad Asqari</span>
            </div>
            <div class="chat-user">
                <img src="images/user_logo.png" class="user-avatar">
                <span class="item-name">Javad Asqari</span>
            </div>
            <div class="chat-user">
                <img src="images/user_logo.png" class="user-avatar">
                <span class="item-name">Javad Asqari</span>
            </div>
            <div class="chat-user">
                <img src="images/user_logo.png" class="user-avatar">
                <span class="item-name">Javad Asqari</span>
            </div>
            <div class="chat-user">
                <img src="images/user_logo.png" class="user-avatar">
                <span class="item-name">Javad Asqari</span>
            </div>
        </div>
        <div class="top right-top grid-item">
            <img src="images/user_logo.png" class="user-avatar right-top">
            <span class="item-name chat">Javad Asqari</span>
            <div class="block-contact">Block</div>
        </div>
        <div class="middle right-middle grid-item">
            <img src="images/chat_main_bg.png" class="bg-image" height="250" width="360">
            <ul>
                <li class="me">My first msg.</li>
                <li class="me">My first msg.</li>
                <li class="me">My first msg.</li>
                <li class="him">Msg from him</li>
                <li class="him">Second msg from him</li>
                <li class="me">My first msg.</li>
                <li class="me">Second msg from me</li>
                <li class="me">The last msg. dfsdfjlkjlkjlkjkjkljdfsfsdfnv  sldj ksdjf lkj ksdjf kljsdf kljds</li>
                <li class="him">Msg from him</li>
                <li class="him">Second msg from him</li>
                <li class="him">Second msg from him</li>
                <li class="me">My first msg.</li>
                <li class="me">Second msg from me</li>
                <li class="me">The last msg. dfsdfjlkjlkjlkjkjkljdfsfsdfnv  sldj ksdjf lkj ksdjf kljsdf kljds</li>
                <li class="him">Second msg from him</li>
                <li class="him">Second msg from him</li>
                <li class="him">Second msg from him</li>
            </ul>
        </div>
        <div class="bottom right-bottom grid-item">
            <textarea type="text" id="msg-input" name="msg-input" form="msg-form" class="txtBox" placeholder="Type your message here..."></textarea>
            <form action="#" id="msg-form">
                <input type="submit" class="send-msg-btn" value="">
            </form>
        </div>
    </div>
</body>
</html>