<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Chat</title>
</head>
<body>
    <div class="main-container grid-container">
        <div class="top left-top grid-item" onclick="openEditProfile()">
            <img src="images/user_logo.png" class="my-avatar">
            <span class="item-name my-name">Misagh Soltani</span>
        </div>
        <div class="middle left-middle grid-item">
            <input type="search" id="search-input" class="txtBox" placeholder="Search in users">
        </div>
        <div class="bottom left-bottom grid-item">
            <div class="chat-user">
                <div class="new-msg-red"></div>
                <img src="images/user_logo.png" class="user-avatar">
                <span class="item-name">Erfan MoharramKhani</span>
            </div>
            <div class="chat-user">
                <img src="images/user_logo.png" class="user-avatar">
                <span class="item-name">Javad Asqari</span>
            </div>
            <div class="chat-user">
                <img src="images/user_logo.png" class="user-avatar">
                <span class="item-name">Javad Asqari</span>
            </div>
            <div class="chat-user">
                <img src="images/user_logo.png" class="user-avatar">
                <span class="item-name">Javad Asqari</span>
            </div>
            <div class="chat-user">
                <img src="images/user_logo.png" class="user-avatar">
                <span class="item-name">Javad Asqari</span>
            </div>
            <div class="chat-user">
                <img src="images/user_logo.png" class="user-avatar">
                <span class="item-name">Javad Asqari</span>
            </div>
            <div class="chat-user">
                <img src="images/user_logo.png" class="user-avatar">
                <span class="item-name">Javad Asqari</span>
            </div>
        </div>
        <div class="top right-top grid-item">
            <img src="images/user_logo.png" class="user-avatar right-top">
            <span class="item-name chat">Javad Asqari</span>
            <div class="block-contact">Block</div>
        </div>
        <div class="middle right-middle grid-item">
            <img src="images/chat_main_bg.png" class="bg-image" height="250" width="360">
            <ul>
                <li class="me" onmouseover="showEditArrow(this)" onmouseout="hideEditArrow(this)"><img src="images/msg_edit_menu.png" class="msg-menu-selector"><br class="msg-br"><p>My first msg.</p></li>
                <li class="me">My first msg.</li>
                <li class="me">My first msg.</li>
                <li class="him">Msg from him</li>
                <li class="him">Second msg from him</li>
                <li class="me">My first msg.</li>
                <li class="me">Second msg from me</li>
                <li class="me">The last msg. dfsdfjlkjlkjlkjkjkljdfsfsdfnv  sldj ksdjf lkj ksdjf kljsdf kljds</li>
                <li class="him">Msg from him</li>
                <li class="him">Second msg from him</li>
                <li class="him">Second msg from him</li>
                <li class="me">My first msg.</li>
                <li class="me">Second msg from me</li>
                <li class="him">The last msg. dfsdfjlkjlkjlkjkjkljdfsfsdfnv  sldj ksdjf lkj ksdjf kljsdf kljds</li>
                <li class="me" onmouseover="showEditArrow(this)" onmouseout="hideEditArrow(this)"><img src="images/msg_edit_menu.png" class="msg-menu-selector" onclick="showContextMenu(this)"><br class="msg-br"><p>tst</p><br><div><span class="datetime-span">2021.2.2 17:50</span><img class="status-img" src="images/read.png"></div></li>
                <li class="me" onmouseover="showEditArrow(this)" onmouseout="hideEditArrow(this)"><img src="images/msg_edit_menu.png" class="msg-menu-selector" onclick="showContextMenu(this)"><br class="msg-br"><p>tst</p><br><div><span class="datetime-span">2021.2.2 17:50</span><img class="status-img" src="images/received.png"></div></li>
                <li class="him" onmouseover="showEditArrow(this)" onmouseout="hideEditArrow(this)"><img src="images/msg_edit_menu.png" class="msg-menu-selector" onclick="showContextMenu(this)"><br class="msg-br"><p>tst</p><br><div><span class="datetime-span">2021.2.2 17:50</span><img class="status-img" src="images/read.png"></div></li>
                <li class="him" onmouseover="showEditArrow(this)" onmouseout="hideEditArrow(this)"><img src="images/msg_edit_menu.png" class="msg-menu-selector" onclick="showContextMenu(this)"><br class="msg-br"><p>tst</p><br><div><span class="datetime-span">2021.2.2 17:50</span><img class="status-img" src="images/read.png"></div></li>
                <li class="him" onmouseover="showEditArrow(this)" onmouseout="hideEditArrow(this)"><img src="images/msg_edit_menu.png" class="msg-menu-selector" onclick="showContextMenu(this)"><br class="msg-br"><p>tst</p><br><div><span class="datetime-span">2021.2.2 17:50</span><img class="status-img" src="images/read.png"></div></li>
                <li class="me" onmouseover="showEditArrow(this)" onmouseout="hideEditArrow(this)"><img src="images/msg_edit_menu.png" class="msg-menu-selector" onclick="showContextMenu(this)"><br class="msg-br"><p>tst</p><br><div><span class="datetime-span">2021.2.2 17:50</span><img class="status-img" src="images/sent.png"></div></li>
                <li class="me" onmouseover="showEditArrow(this)" onmouseout="hideEditArrow(this)"><img src="images/msg_edit_menu.png" class="msg-menu-selector" onclick="showContextMenu(this)"><br class="msg-br"><p>tst</p><br><div><span class="datetime-span">2021.2.2 17:50</span><img class="status-img" src="images/sent.png"></div></li>
            </ul>
        </div>
        <div class="bottom right-bottom grid-item">
            <textarea type="text" id="msg-input" name="msg-input" form="msg-form" class="txtBox" placeholder="Type your message here..."></textarea>
            <form action="#" id="msg-form">
                <input type="submit" class="send-msg-btn" value="" onclick="sendMessage()">
            </form>
        </div>
    </div>
    <div class="context-menu-container" onclick="hideContextMenu()">
        <div class="context-menu">
            <ul>
                <li onclick="editMessage()">Edit</li>
                <li onclick="deleteMessage()">Delete</li>
            </ul>
        </div>
    </div>
    <div class="modal-bg">
        <div class="modal main main-register">
            <p class="sign" align="center">Edit Profile</p>
            <form class="form1">
                <input class="name txtBox" type="text" align="center" placeholder="First Name" onkeypress="return isCharValidFirstName(event)">
                <input class="family txtBox" type="text" align="center" placeholder="Last Name" onkeypress="return isCharValidLastName(event)">
                <input class="username txtBox" type="text" align="center" placeholder="Username" onkeypress="return isCharValidUsername(event)">
                <input class="password txtBox" type="password" align="center" placeholder="Password" onkeypress="return isCharValidPassword(event)">
                <input class="submit modal-btn" type="submit" align="center" value="Update" onclick="return Validation()">
                <p class="register close-edit-profile" align="center" onclick="closeEditProfile()">Cancel</p>
            </form>
        </div>
    </div>
    <script src="../scripts/chat.js"></script>
</body>
</html>