<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript" src="../scripts/register.js"></script>
    <title>Register</title>
</head>
<body>
<div class="main main-register">
    <p class="sign" align="center">Log in</p>
    <form class="form1">
        <input class="name txtBox" type="text" align="center" placeholder="First Name" onkeypress="return isCharValidFirstName(event)">
        <input class="family txtBox" type="text" align="center" placeholder="Last Name" onkeypress="return isCharValidLastName(event)">
        <input class="username txtBox" type="text" align="center" placeholder="Username" onkeypress="return isCharValidUsername(event)">
        <input class="password txtBox" type="password" align="center" placeholder="Password" onkeypress="return isCharValidPassword(event)">
        <input class="password-confirm txtBox" type="password" align="center" placeholder="Confirm Password" onkeypress="return isCharValidPassword(event)">
        <input class="submit" type="submit" align="center" value="Register" onclick="return Validation()">
        <p class="register" align="center">Already have an account? <a href="login.html">Sign in</a></p>
    </form>
</div>
</body>
</html>